:root {
  --primary-color: #003366;
  --accent-color: #F8B807;
  --text-color: #555;
  --white: #ffffff;
  --light-gray: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  line-height: 1.6;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #f9f9f9;
  color: #2c3e50;
  padding: 20px 10%;
  border-top: 2px solid #ffd700;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Change from flex-start to flex-end */
  flex-wrap: wrap;
}

.footer-right{
  transform: translateX(50%);
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-left h3,
.footer-right h3 {
  color: #34495e;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer-left p,
.footer-right p {
  margin: 5px 0;
}

.icon {
  margin-right: 10px;
  color: #34495e;
}
.social-icons{
 transform: translateY(40%);
 display: flex;
 justify-content: start;
 align-items: end;
 margin-right: 4%;
 
}
.social-icons h3{
  margin-top: 30px;
  transform: translateX(1px);
}

.social-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  margin: 10px;
  text-decoration: none;
  color: #34495e;
  gap: 20px;
}

.social-icons a:hover {
  color: #ffd700;
}

.map-embed {
  border-radius: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.footer-bottom {
  text-align: center;
  font-size: 0.9em;
  color: #7f8c8d;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}
